* {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
  } 

body {
    background-color: rgb(103, 168, 232);
}

.inter-200 {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
  }

#titlebox {
    margin: auto;
    max-width: 600px;
    align-items: center;
    text-align: center;
    display: flex;
    justify-content: space-between;
    font-family: Georgia, 'Times New Roman', Times, serif
}

#backbutton {
    font-size: 1.5em;
    text-decoration: none;
    color: var(--primary);
    font-family: Georgia, 'Times New Roman', Times, serif
}

/* #backbutton:hover{
    color: var(--accent);
} */

#blogcontentbox {
    margin: auto;
    max-width: 600px;
    font-size: 0px;
    display: flex;
    flex-direction: column;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #4b433e;
}

#bloglink {
    text-decoration: none;
}

#blogtitle {
    font-size: 18px;
    font-weight: 400;
    margin: 6px 0px;
    color: #4b433e;
    text-decoration: underline;
    font-family: Georgia, 'Times New Roman', Times, serif
  }

#blogdate {
    font-size: 12px;
    font-weight: 200;
    margin: 0px 0;
    color: #333;
    text-decoration: none;
    font-family: Georgia, 'Times New Roman', Times, serif
}

#line {
    max-width: 600px;
    color: #333;
    border: none;
    height: 1px;
 }

#blogdescription {
    font-size: 16px;
    font-weight: 200;
    margin: 6px 0px;
    color: #333;
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif
  }

#contentbox:hover {
background-color: transparent;
text-decoration: none;
color: inherit;
outline: none;
}

@media screen and (max-width: 768px) {

    #contentbox {
        margin: auto;
        max-width: 100%;
        font-size: 3em;
    }
}