* {
   -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
           box-sizing: border-box;
 }

 :root {
   --primary: #4b433e;
   --secondary: #ece7d8
   --accent: #3e3e3e;
   --background: #fdfbf7;
}

 body {
   background-color: #ece7d8;
}

#titlebox {
   margin: auto;
   width: 50%;
   text-align: center;
   font-family: Arial, Helvetica, sans-serif;
   color: var(--primary);
}

#contentbox {
   margin: auto;
   max-width: 600px; 
   font-size: 18px;
   font-family: Arial, Helvetica, sans-serif;
   color: #ece7d8;
}

#content {
   color:var(--primary);
}

#link:hover{
   background-color: rgb(144, 144, 144);
}