* {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
  }
 
  :root {
    --primary: #4b433e;
    --secondary: #ece7d8
    --accent: #3e3e3e;
    --background: #fdfbf7;
 }
 
  body {
    background-color: #ece7d8;
    text-decoration: none;
 }
 
 #title {
    margin: auto;
    width: 50%;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--primary);
 }
 
 #contentbox {
    margin: auto;
    max-width: 600px; 
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    color: #ece7d8;
    text-decoration: none;
    line-height: 1.2;
 }
 
 #content {
    color:var(--primary);
    text-decoration: none;
 }
 
 #link:hover{
    background-color: rgb(144, 144, 144);
 }

 h2, h3, h4, h5, h6 {
   margin-top: 1em;   /* You can tweak these */
   margin-bottom: 1em;
   line-height: 0.5em;
   text-decoration: none;
 }

 h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  text-decoration: none;
}