.body {
  background-color: #ece7d8;
}

.navbar { 
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  font-size: 20px;
  text-decoration: none;
  margin-top: 40px;
}

.navbarlink {
  color: black;
  text-decoration: none;
  margin: 0 15px;
  font-family:'JMH Typewriter', monospace;
}

.line {
    height: 3px;
    background-color: #282828;
    margin: 5px auto;
}

.homebox {
    margin: 20px auto;
    font-family: 'JMH Typewriter', monospace;
    justify-content: center;
    display: flex;
    text-align: right;
    margin-top: 100px;
}
.homeboxtext {
    font-size: 50px;
    line-height: 1;
    margin-right: 30px;
    margin-top: 120px;
}

.category {
  font-size: 40px;
}

.category:hover{
  text-decoration: underline;
}

.photodisplay {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 600px;
    max-height: 600px;
  }

  .photodisplay img {
    max-width: 100%;
    max-height: 600px;
    height: auto;
    display: block;
  }
 
   /* Dropdown Button */
.dropbtn {
  border: none;
  background-color: transparent;
  font-family: 'JMH Typewriter', monospace;
  font-size: 20px;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  z-index: 1;
  font-family: 'JMH Typewriter', monospace;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

Change the background color of the dropdown button when the dropdown content is shown
.dropdown:hover .dropbtn {background-color: #3e8e41;} 

.slideshow-container {
  max-width: 600px;
  position: relative;
  margin: auto;
  display: grid;
}

.mySlides {
  display: none;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  width: auto;
  padding: 8px;
  right: 5%;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  color:#a2a2a2;
}


.photogallery {
  column-count: 3;    /* number of masonry columns */
  column-gap: 1rem;
  padding: 1rem;
  max-width: 1200px;
  margin: auto;
}

.photogallery img {
  width: 100%;
  margin-bottom: 1rem;
  display: block;
}

/* 
.photogallery img:hover {
  transform: scale(1.01);
} */



/* Lightbox */
.lightbox {
  display: none; /* hidden by default */
  position: fixed;
  z-index: 1000;
  padding-top: 60px;
  left: 0; top: 0;
  width: 100%; height: 100%;
  overflow: auto;
  background: rgba(0,0,0,0.9);
  text-align: center;
}

.lightbox-content {
  max-width: 90%;
  max-height: 80vh;
  margin: auto;
  display: block;
}

#caption {
  color: #ccc;
  margin-top: 1rem;
}

.close {
  position: absolute;
  top: 20px; right: 35px;
  color: #fff;
  font-size: 40px;
  font-weight: bold;
  cursor: pointer;
}
.close:hover {
  color: #bbb;
}
  
