.navbar {
    overflow: hidden;
  }

  /* Style the links inside the navigation bar */
.navbar a {
    float: left;
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
  }

.right-links {
    float: right;
  }

.line {
    height: 3px;
    background-color: #282828;
    margin: 5px auto;
}

.photodisplay {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px auto;
    max-width: 600px;
    max-height: 600px;
  }

  .photodisplay img {
    max-width: 100%;
    height: auto;
    display: block;
  }
  