* {
   -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
           box-sizing: border-box;
 }

 :root {
   --primary: rgb(190, 204, 215);
   --secondary: rgb(38, 42, 47);
   --accent: rgb(231, 231, 231);
   --background:rgb(17, 19, 21);
}

 body {
   background-color: rgb(17, 19, 21);
}

#titlebox {
   margin: auto;
   width: 50%;
   text-align: center;
   font-family: Arial, Helvetica, sans-serif;
   color: var(--primary);
}

#contentbox {
   margin: auto;
   max-width: 600px; 
   font-size: 18px;
   font-family: Arial, Helvetica, sans-serif;
}

#content {
   color:var(--primary);
}

#link:hover{
   background-color: rgb(144, 144, 144);
}