body {
   background-color: rgb(255, 255, 255);
}

#titlebox {
   margin: auto;
   width: 50%;
   text-align: center;
}

#contentbox {
   margin: auto;
   width: 35%;
   text-align: left;
   font-size: 18px;
}

#link:hover{
   background-color: rgb(144, 144, 144);
}