body {
    background-color: black;
    margin: 0;
    padding: 0;
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */
    height: 100vh; /* Full viewport height */
    overflow-y: hidden;
}

.tiny5-regular {
    font-family: "Tiny5", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

#navbar {
    margin: auto;
    background-color: rgb(0, 0, 0);
    height: 1em;
    font-size: 2.5em;
    text-decoration: none;
    font-family: Tiny5;
    text-align: center;
}

a {
    text-decoration: none;
    color: rgb(119, 130, 138);
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

li {
    display: inline;
    padding-inline: 0.4em;
}

a:hover {
    color: rgb(210, 210, 210);
}

#container {/* Width of the container relative to the viewport */
    top: 1em;
    justify-content: center;
    margin: auto;
    max-width: 1100px; /* Maximum width of the container */
    background-color: rgba(255, 255, 255, 0);
    position: relative; /* Establishes positioning context for children */
}

#image-container {
    position: relative; /* Position SVG absolutely within this container */
}

#image {
    width: 100%; /* Ensure the image fills the container */
    height: auto; /* Maintain aspect ratio */
    display: block; /* Remove extra space below the image */
}

#monitor {
    position: absolute; /* Position SVG on top of the image */
    top: 56%; /* Adjust top position */
    left: 20%; /* Adjust left position */
    z-index: 10; /* Ensure SVG is above the image */
}

#monitorvector:hover {
    fill: rgba(0, 0, 255, 0); /* Hover effect */
}

#typewriter {
    position: absolute; /* Position SVG on top of the image */
    clip-path: polygon(46% 27%, 100% 27%, 100% 100%, 0 100%);
    top: 57%; /* Adjust top position */
    left: 36.3%; /* Adjust left position */
    z-index: 10; /* Ensure SVG is above the image */
}

#typewritervector:hover{
    fill: rgba(22, 22, 165, 0); /* Hover effect */
}

#city{
    position: absolute;
    top: 34.9%; /* Adjust top position */
    left: 28.3%; /* Adjust left position */
    z-index: 10; /* Ensure SVG is above the image */
}

#city:hover{
    fill: rgba(0, 0, 255, 0); /* Hover effect */  
}

#cv {
    position: absolute; /* Position SVG on top of the image */
    clip-path: polygon(8% 15%, 56% 10%, 71% 92%, 23% 98%);
    top: 37%; /* Adjust top position */
    left: 62%; /* Adjust left position */
    z-index: 10; /* Ensure SVG is above the image */
}

#cvvector:hover{
    fill: rgba(0, 0, 255, 0); /* Hover effect */
}